* {
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(255, 212, 133);
}

header img {
    width: 50%;
    height: 35%;
    background-color: rgb(170, 142, 197);
    margin: 50px 0 25px 0;
    border-radius: 50%;
    padding: 25px;

}

main {
    background-color: rgb(170, 142, 197);
    width: 50%;
    height: 65%;
    border-radius: 25px;
    padding: 25px;

}

#about-game {
    letter-spacing: 1px;
    padding-bottom: 15px;

}

#answer-buttons {
    padding: 25px;
    display: block;
}

#answer-buttons button {

    padding: 10px 0 10px 0;
    margin: 5px auto 5px auto;
    width: 50%;
}

@media screen and (max-width: 800px) {
    main {
        width: 85%;
        transition: 1s;
    }

    #anser-buttons button {
        width: 85%;
        transition: 1s;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 15px;
        margin-right: 15px;
        width: 85%;
        transition: 1s;
    }

    #anser-buttons button {
        width: 85%;
        transition: 1s;
    }
}