* {
    margin: 0 auto;
    font-family:Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
}

body {
    background-color: #ffe8bd;
    background-image: url(../images/2802898.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
    font-size: 24px;
}

header img {
    width: 50%;
    height: 35%;
    background-color: #7e6892;
    margin: 50px 0 25px 0;
    border-radius: 50%;
    padding: 25px;
}

#main-div {
    background-color: #7e6892;
    width: 50%;
    height: 75%;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
}

#main-div-congrats {
    border-style: double;
    border-color: #5d4079;
    border-radius: 25px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding: 25px;
}

#about-game {
    border-style: double;
    border-color: #5d4079;
    border-radius: 25px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding: 15px;
}

#question {
    border-style: double;
    font-size: 20px;
    border-color: #5d4079;
    border-radius: 25px;
    padding: 25px
}

#about-game h1 {
    margin-bottom: 25px;
}

#answer-buttons {
    padding: 10px;
}

/* Main styling for buttons */
.button {
    padding: 10px 2px 10px 2px;
    margin: 5px auto 5px auto;
    width: 75%;
    background-color: #5d4079;
    border-radius: 25px;
    border-color: #ff9c07;
}

a {
    text-decoration: none;
}

/* Colors for buttons to highlight right and wrong answers */
.correct {
    background: #488d48;
}
.incorrect {
    background-color: #753333;
}

/* Styling for all the buttons non clickable and clickable */
.startbutton, 
.rules-button, 
.timer-score, 
.try-again-button, 
.lightning-round,
.next-button,
.back-button {
    padding: 12px;
    margin: 5px 10px 5px 10px;
    width: 40%;
    background-color: #9b6500;
    border-radius: 25px;
    border-width: 5px;
    border-color: #b07fdd;
}

.timer-score,
.next-button {
    width: 30%;
}

/* Styling with hover effect for every clickable button */

.startbutton:hover, 
.rules-button:hover,  
.try-again-button:hover, 
.lightning-round:hover,
.next-button:hover,
.back-button:hover {
    background-color: #ff9c07;
    border-color: #5d4079;
    transition: 1s;
}

/* Disable hover effect on answered-buttons once an answer has been submitted */
button.answered{
    pointer-events: none;
}


/* Make timer and score non clickable. */
.no-click {
    pointer-events: none;
}


/* The Modal (background) code from W3Schools */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #00000066;
}

/* Modal Content/Box */
.rules-content {
    background-color: #aa711b;
    margin: 15% 25% auto;
    padding: 15px;
    border: 5px solid #ffca71;
    border-radius: 25px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 100px;
    padding-left: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
}


/* Responsive styling */

@media screen and (max-width: 1200px) {
    .button {
            width: 45%;
            transition: 1s;
            margin: 5px;
        }

@media screen and (max-width: 800px) {
header img {
        width: 70%;
        height: 35%;
    }

    main {
        width: 85%;
        transition: 1s;
    }

    #main-div {
        width: 90%;
        padding: 10px;
    }

    .rules-content {
        margin: 15% 5% auto;
    }

    .button {
        width: 65%;
        transition: 1s;
    }

    .next-button {
        width: 40%;
    }

    #timer,
    #score {
        width: 40%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    header img {
        width: 70%;
        height: 35%;
    }
    
    main {
        width: 85%;
        transition: 1s;
    }

    #main-div {
        width: 90%;
        padding: 10px;
    }

    .button {
        width: 65%;
        transition: 1s;
    }
}

@media screen and (max-width: 500px) {
        header img {
            width: 70%;
            height: 35%;
        }
    
        #main-div {
            width: 90%;
            padding: 10px;
        }
    
        .button {
            font-size: 85%;
            width: 85%;
            transition: 1s;
            padding-left: 7px;
            padding-right: 7px;
        }

        .startbutton,
        .rules-button {
            width: 55%;
        }
        .next-button {
            width: 80%;
            text-align: center;
        }
        #timer,
        #score,
        .back-button {
            font-size: 85%;
            width: 60%;
            margin: 0 auto;
        }

        #results-container {
            padding-bottom: 10px;
        }
    }
}