* {
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(255, 232, 189);
    background-image: url(https://imageupload.io/ib/FiqvBE8iBeHTyUI_1699915348.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
    font-size: 24px;
}

header img {
    width: 50%;
    height: 35%;
    background-color: rgb(170, 142, 197);
    margin: 50px 0 25px 0;
    border-radius: 50%;
    padding: 25px;
}

#main-div {
    background-color: rgb(170, 142, 197);
    width: 50%;
    height: 75%;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
}

#about-game {
    letter-spacing: 1px;
    padding-bottom: 85px;
    width: 85%;
}

#about-game h1 {
    margin-bottom: 25px;
}

#answer-buttons {
    padding: 10px;
}

/* Main styling for buttons */
.button {
    padding: 10px 0 10px 0;
    margin: 5px auto 5px auto;
    width: 75%;
    background-color: rgb(93, 64, 121);
    border-radius: 25px;
    border-color: rgb(255, 156, 7);
}

/* Colors for buttons to highlight right and wrong answers */
.correct {
    background: rgb(72, 141, 72);
}
.incorrect {
    background-color: rgb(117, 51, 51);
}

/* Styling for all the buttons non clickable and clickable */
.startbutton, 
.rules-button, 
.timer-score, 
.try-again-button, 
.lightning-round,
.next-button,
.back-button {
    padding: 10px 0 10px 0;
    margin: 5px 10px 5px 10px;
    width: 33%;
    background-color: rgb(93, 64, 121);
    border-radius: 25px;
    border-color: rgb(255, 156, 7);
}

/* Styling with hover effect for every clickable button */
.button:hover,
.startbutton:hover, 
.rules-button:hover,  
.try-again-button:hover, 
.lightning-round:hover,
.next-button:hover,
.back-button:hover {
    background-color: rgb(255, 156, 7);
    border-color: rgb(93, 64, 121);
}

/* Make timer and score non clickable. */
.no-click {
    pointer-events: none;
}


/* The Modal (background) code from W3Schools */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.rules-content {
    background-color: rgb(165, 106, 18);
    margin: 15% auto;
    padding: 30px;
    border: 1px solid rgb(46, 31, 59);
    border-radius: 25px;
    width: 35%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
}


/* Responsive styling */

@media screen and (max-width: 1200px) {
    .button {
            width: 100%;
            transition: 1s;
        }

@media screen and (max-width: 800px) {
header img {
        width: 70%;
        height: 35%;
    }

    main {
        width: 85%;
        transition: 1s;
    }

    #main-div {
        width: 90%;
        padding: 10px;
    }

    .button {
        width: 100%;
        transition: 1s;
    }

    #timer,
    #score {
        width: 35%;
    }
}

@media screen and (max-width: 600px) {
    header img {
        width: 70%;
        height: 35%;
    }
    
    main {
        width: 85%;
        transition: 1s;
    }

    #main-div {
        width: 90%;
        padding: 10px;
    }

    .button {
        width: 100%;
        transition: 1s;
    }
    #timer
    #score {
        width: 35%;
    }
}

@media screen and (max-width: 500px) {
        header img {
            width: 70%;
            height: 35%;
        }
    
        #main-div {
            width: 90%;
            padding: 10px;
        }
    
        .button {
            width: 100%;
            transition: 1s;
        }
    
        #timer
        #score {
            width: 55%;
        }

        .start-button,
        .rules-button {
            width: 55%;
        }
    }
}